<div class="statistic-card" *ngIf="card">
    <div class="statistic-card-icon" [ngStyle]="{'background-color': card.bGColor}"><span class="fa fa-fw fa-3x" ngClass="{{card.icon}}"></span></div>
    <div class="statistic-card-info" [ngStyle]="{'background-color': card.bGColor}">
        <div class="card-title">{{card.title}}</div>
        <div class="number-card">{{card.numberCard}} <span class="fa" ngClass="{{card.unitIcon}}"></span></div>
        <div class="more-info" [ngStyle]="{'background-color': card.moreInfoBG}">More info <span class="fa fa-chevron-circle-right"></span></div>
    </div>
</div>